*{
	color: #000;
}
.titulo{
	display: flex;
	justify-content: space-between;
	padding: 20px 0px 30px 0
}
.titulo div{
	display: flex;
	align-items: center
}
.titulo img{
	width: 200px
}
.seccion{
	background-color: #4e73df;
	color:  #fff;
	padding-left: 10px;
	width: 100%;
	border: 1px solid #000;
}
.tabla{
	width: 100%;
	border: 1px solid #000;
	border-collapse: collapse;
}
.tabla tbody tr td{
	border: 1px solid #000;
}

hr{
	background-color: #000;
	width: 100%;
}